.profile-picture {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 35px;
    cursor: pointer;
}

p { 
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Arial;
}

.account-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.account-description {
    font-size: 16px;
    color: rgb(96, 96, 96);
    margin-bottom: 5px;
}

.account-status {
    font-size: 15px;
    color: rgb(96, 96, 96);
}

.follow-button {
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.15s, opacity 0.15s;
}

.follow-button:hover {
    background-color: rgb(32, 143, 218);
}

.follow-button:active {
    opacity: 0.7;
}

.account-container {
    margin-bottom: 10px;
}

.image-container {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.account-info-container {
    display: inline-block;
    vertical-align: middle;
    width: 250px;
}

.button-container {
    display: inline-block;
    vertical-align: middle;
}
