.profile-picture {
    width: 175px;
    height: 175px;
    object-fit: cover;
    object-position: center;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Arial;
}

.name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 3px;
}

.mutual-friends {
    font-size: 14px;
    color: rgb(100, 100, 100);
    margin-bottom: 12px;
}

.add-friend-button {
    background-color: rgb(0, 106, 255);
    color: white;
    font-family: Arial;
    font-size: 16px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.15s, opacity 0.15s;
}

.add-friend-button:hover {
    background-color: rgb(0, 91, 218);
}

.add-friend-button:active {
    opacity: 0.7;
}

.profile-grid {
    display: grid;
    grid-template-columns: 175px 175px 175px;
    column-gap: 20px;
}

.shadow-container {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
}

.image-container {
    margin-bottom: 8px;
}

.content-container {
    margin-left: 10px;
    margin-bottom: 10px;
}